<!DOCTYPE html>
<html>
	<head>
		<title> Wicker </title>
		<link rel='stylesheet' href='/bower_components/skeleton/css/skeleton.css' />
		<link rel='stylesheet' href='/style.css' />
	</head>

	<body>
		<section class="container" id="app"></section>

		<script>var USER = <%- user %>;</script>
		<script src='/all.js'></script>
	</body>
</html>
